<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title>Books List</title>
  </head>
  <body>
    <%- include('header') %> <%- include('navbar') %>
    <main>
      <h2><%= title %></h2>
      <table class="books-table">
        <thead>
          <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Genre</th>
            <th>Category</th>
            <th>Condition</th>
            <th>Available</th>
            <th>Cover</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% for (let detail of details) { %>
          <tr>
            <td><%= detail.title %></td>
            <td><%= detail.forename %> <%= detail.surname %></td>
            <td><%= detail.genre_name %></td>
            <td><%= detail.category_name %></td>
            <td><%= detail.condition %></td>
            <td><%= detail.is_available ? "Available" : "Unavailable " %></td>
            <td>
              <img
                class="cover-image"
                src="<%= detail.cover_image %>"
                alt="Book cover for <%= detail.title %>"
              />
            </td>
            <td>
              <form action="/delete" method="POST">
                <!-- Hidden input field to store the book ID -->
                <input type="hidden" name="id" value="<%= detail.id %>" />
                <button class="delete-button">Delete</button>
              </form>
              <!-- Place id into URL so can then use to retrieve via POST -->
              <form action="/update/<%=detail.id %>" method="GET">
                <button class="update-button">Update</button>
              </form>
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </main>
  </body>
</html>
