<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title>Update Book in Inventory</title>
  </head>
  <body>
    <h2>Update Book in Inventory</h2>
    <%- include('navbar') %>
    <%- include('partials/errors') %>

    <div class="form-div">
      <form action="/update-book" method="POST" class="book-form">
        <!-- Hidden value to extract ids -->
        <input type="hidden" name="id" value="<%= book.id %>" />
        <input type="hidden" name="author_id" value="<%= book.author_id %>" />

        <label for="title">Title</label>
        <input
          type="text"
          id="title"
          name="title"
          value="<%= book.title %>"
        />
        <label for="author-forename">Author Forename</label>
        <input
          type="text"
          id="author-forename"
          name="forename"
          value="<%= book.forename %>"
        />
        <label for="author-surname">Author Surname</label>
        <input
          type="text"
          id="author-surname"
          name="surname"
          value="<%= book.surname %>"
        />
        <label for="genre">Genre</label>
        <select name="genre" id="genre" >
            <option value="Mystery" <%= book.genre_name === "Mystery" ? "selected" : "" %>>Mystery</option>
            <option value="Sci-Fi" <%= book.genre_name === "Sci-Fi" ? "selected" : "" %>>Sci-Fi</option>
            <option value="Biography" <%= book.genre_name === "Biography" ? "selected" : "" %>>Biography</option>
            <option value="History" <%= book.genre_name === "History" ? "selected" : "" %>>History</option>
        </select>
          
        <label for="condition">Condition</label>
        <select name="condition" id="condition" >
          <option value="New" <%= book.condition === "New" ? "selected" : "" %>>New</option>
          <option value="Used - Good" <%= book.condition === "Used - Good" ? "selected" : "" %>>Used - Good</option>
          <option value="Used - Acceptable" <%= book.condition === "Used - Acceptable" ? "selected" : "" %>>Used - Acceptable</option>
        </select>
        
        <label for="availability">Availability</label>
        <select name="availability" id="availability" >
          <option value="true" <%= book.is_available === true ? "selected" : "" %>>Available</option>
          <option value="false" <%= book.is_available === false ? "selected" : "" %>>Unavailable</option>
        </select>
        
        <label for="url">Cover Image URL</label>
        <input 
          type="url" 
          id="url" 
          name="cover_image_url"
          value="<%= book.cover_image %>"
        />
        <button type="submit">Update Book</button>
      </form>
    </div>
  </body>
</html> 